/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
  margin-bottom: 16px;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 3em;
  color: #fff;
}

header nav {
  display: flex;
  justify-content: center;
}

header nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding-left: 0;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding-right: 20px;
}

header nav ul li:last-child a {
  padding-right: 0px;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  padding: 10px;
  display: flex;
  justify-content: center;
}

fieldset {
  border: 2px solid #ff385c;
  padding: 20px;
  width: 100%;
}

form fieldset div {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
  padding-right: 20px;
}

form select,
form input {
  margin-bottom: 20px;
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px) {
  header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }

  .logo {
    font-size: 48px;
  }

  header nav {
    align-items: center;
    padding-right: 40px;
  }

  fieldset {
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  form fieldset div {
    display: block;
    padding: 5px 0;
  }

  form label {
    padding-right: 0px;
    width: 100%;
  }

  form select,
  form input {
    margin-right: 20px;
    margin-bottom: 0px;
  }

  form button {
    font-size: 24px;
    padding: 15px;
  }

  #about div {
    display: flex;
    align-items: center;
  }

  #about div img {
    flex: 1;
    padding-right: 10px;
    width: 40px;
  }

  #about div p {
    flex: 2;
  }

  .idea {
    width: 49%;
    flex-direction: column;
  }

  #ideas div {
    display: flex;
    justify-content: space-between;
  }

  #host-div {
    display: flex;
    align-items: center;
  }

  #host-div img {
    width: 50%;
  }
}

@media all and (max-width: 1300px) and (min-width: 480px) {
  .button-div {
    width: 100%;
    font-size: 24px;
    padding: 15px;
    text-align: center;
  }

  form button {
    width: 50%;
    font-size: 24px;
    padding: 15px;
  
  }
}